# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.dotnetrun-microservices.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Source\DotnetCore\CoreMicroService\src\.idea\.idea.dotnetrun-microservices\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
